{% extends "base.html" %}

{% block titol %}{{ familia.nom }} - {{ _('Records') }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}

{% block contingut %}
<main class="contingut-principal">
  <div class="contenidor">
    <nav class="breadcrumb">
     
      <a href="{{ url_for('familia.seccio', url=familia.url, seccio='qui-som') }}">{{ familia.nom }}</a> 
     
    </nav>

    <div class="capsalera-seccio">
      <h1>{{ _('Records de') }} {{ familia.nom }}</h1>
    
    </div>

    <div class="contingut-seccio">
      {% if entrades %}
        <div class="resum-entrades">
          <p>{{ _('Mostrant') }} <span id="entrades-visibles">{{ entrades|length }}</span> {{ _('de') }} {{ entrades|length }} {{ _('records') }}</p>
        </div>

        <div id="grid-entrades" class="llista-entrades">
  {% for entrada in entrades %}
    {% include "components/caixa_entrada.html" %}
  {% endfor %}
</div>
          
        </div>
      {% else %}
        <div class="missatge-buit">
          <i class="fas fa-folder-open"></i>
          <h3>{{ _('Encara no hi ha records') }}</h3>
          <p>{{ _('Cap membre ha compartit encara cap entrada amb aquest espai familiar.') }}</p>
          <div class="accions-buit">
            <a href="{{ url_for('nova_entrada.nova_entrada_personal') }}" class="boto boto-primari">
              <i class="fas fa-plus"></i> {{ _('Crear primera entrada') }}
            </a>
          </div>
        </div>
      {% endif %}
   

    <div class="navegacio-seccio">
      <a href="{{ url_for('familia.seccio', url=familia.url, seccio='qui-som') }}" class="boto_nav">
  {{ _('Tornar') }}
</a>
    </div>
 </div>
  </div>
</main>

{% include 'components/modal_entrada.html' %}
{% include 'components/modal_entrada_editar.html' %}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/modal_completa.js') }}"></script>
{% endblock %}
