<div id="modal-missatge" class="modal" style="display: none;">
  <div class="modal-content">
    <span class="boto-tancar-modal" onclick="tancaModalMissatge()">×</span>

    <h2 id="modal-assumpte">—</h2>
    <p class="modal-remitent"><strong>{{ _('De:') }}</strong> <span id="modal-remitent">—</span></p>
   <p class="modal-data"><strong>{{ _('Data:') }}</strong> <span id="modal-data-missatge">—</span></p>

<div id="modal-contingut-missatges" class="contingut-formatat"></div>


  </div>
</div>
