<!-- templates/components/modal_entrada.html -->
<div id="modal-entrada" class="modal" style="display: none;">
  <div class="modal-content">

    <div class="modal-imatge">
      <a id="modal-enllac" href="" data-lightbox="imatge-entrada">
        <img id="modal-img" src="" alt="imatge entrada">
      </a>
    </div>

    <div class="modal-text">

      <h2 id="modal-titol">—</h2>
      <div class="modal-dades">
       <p class="modal-subtitol"><span id="modal-tema"></span> <span id="modal-ubicacio-any-parentesi"></span></p>
        <div id="modal-contingut" class="contingut-formatat">—</div>
      </div>

      <div class="modal-arxius" id="modal-arxius"></div>

      <div class="modal-info-imatge" id="modal-info-imatge" style="display: none;">
        <p><strong>{{ _('Arxiu') }}</strong> <span id="modal-titol-imatge">—</span></p>
        <p><span id="modal-ubicacio-any-imatge">—</span></p>
        <p><span id="modal-descripcio-imatge">—</span></p>
        <p><strong>{{ _('Aquest arxiu es pot consultar a:') }}</strong> <span id="modal-referencia-imatge">—</span></p>
      </div>
    </div>
    
    <div class="modal-conversa-bloc" id="modal-conversa-bloc" style="display: none;">
        <h3 class="modal-conversa-titol" onclick="toggleConversaModal()">
          {{ _('Conversa vinculada') }} <span id="modal-conversa-fletxa">▶</span>
        </h3>
        <div class="modal-conversa-contingut" id="modal-conversa-contingut" style="display: none;">
          <p id="modal-conversa-resum"></p>
          <p id="modal-conversa-observacions"></p>
        </div>
      </div>

    <div class="modal-botons">
      <div class="modal-meta-autoria">
        <span id="modal-meta-autor"></span><br>
        <span id="modal-meta-creacio"></span><br>
        <span id="modal-meta-modificacio"></span>
      </div>
      <div class="modal-grup-botons">
        {% if session.get('usuari') %}
          <button id="boto-guardar" class="boto_nav" onclick="guardaEntradaFavorita()">{{ _('Guardar') }}</button>
          <button id="boto-eliminar-guardada" class="boto_nav" onclick="eliminaEntradaGuardada()" style="display: none;">{{ _('Eliminar de guardades') }}</button>
        {% endif %}
        <button class="boto_nav" onclick="tancaModalEntrada()">{{ _('Tancar') }}</button>
      </div>
    </div>

  </div>
</div>